# ETL ì„¤ê³„ 4íŽ¸: SCD - ê³ ê° ì£¼ì†Œê°€ ë°”ë€Œë©´ ê³¼ê±° ì£¼ë¬¸ì€ ì–´ë””ë¡œ ë°°ì†¡ëœ ê±¸ë¡œ ë‚¨ëŠ”ê°€

ì°¨ì› ë°ì´í„°ê°€ ë°”ë€Œë©´ ê³¼ê±°ë¥¼ ë®ì–´ì“¸ ê²ƒì¸ê°€, ì´ë ¥ì„ ë‚¨ê¸¸ ê²ƒì¸ê°€. SCD Type 1, 2, 3ì˜ ì°¨ì´ë¥¼ SQLë¡œ ì§ì ‘ êµ¬í˜„í•˜ê³ , dbt snapshotìœ¼ë¡œ í”„ë¡œë•ì…˜ íŒ¨í„´ì„ ë§Œë“ ë‹¤.

ðŸ“– [ë¸”ë¡œê·¸ ì›ë¬¸](https://biz-agentic-ai.github.io/guides/etl-design/004-scd/)

## í™˜ê²½ ì„¸íŒ…

In [ ]:
# ë„êµ¬ ì„¤ì¹˜ (protobuf ê²½ê³ ëŠ” ë¬´ì‹œí•´ë„ ë©ë‹ˆë‹¤ - Colabì˜ tensorflowì™€ ë²„ì „ ì¶©ëŒì´ì§€ë§Œ ì‹¤ìŠµì— ì˜í–¥ ì—†ìŒ)
!pip install -q duckdb dbt-core dbt-duckdb 2>&1 | grep -v "protobuf"

## Bronze ë°ì´í„° ì¤€ë¹„

1íŽ¸ì—ì„œ ë§Œë“  Bronze ë°ì´í„°ë¥¼ ë‹¤ì‹œ ì ìž¬í•œë‹¤.

In [ ]:
import duckdb

conn = duckdb.connect('warehouse.duckdb')

conn.execute("""
CREATE SCHEMA IF NOT EXISTS bronze;

CREATE OR REPLACE TABLE bronze.orders AS
SELECT *, current_timestamp AS _loaded_at
FROM read_csv_auto('https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_orders.csv');

CREATE OR REPLACE TABLE bronze.customers AS
SELECT *, current_timestamp AS _loaded_at
FROM read_csv_auto('https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_customers.csv');

CREATE OR REPLACE TABLE bronze.payments AS
SELECT *, current_timestamp AS _loaded_at
FROM read_csv_auto('https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_payments.csv');
""")

print("Bronze ì ìž¬ ì™„ë£Œ")
conn.close()

## ë¬¸ì œ í™•ì¸: ì°¨ì›ì´ ë°”ë€Œë©´ ê³¼ê±°ê°€ ì™œê³¡ëœë‹¤

ê³ ê° í…Œì´ë¸”ì—ì„œ ì£¼ì†Œë¥¼ UPDATEí•œ ë’¤, ê³¼ê±° ì£¼ë¬¸ì„ ì¡°íšŒí•´ ë³¸ë‹¤.

In [ ]:
conn = duckdb.connect('warehouse.duckdb')

# ì°¨ì› í…Œì´ë¸” ìƒì„± (ì£¼ì†Œ í¬í•¨)
conn.execute("""
CREATE OR REPLACE TABLE dim_customers AS
SELECT
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ì„œìš¸'
        WHEN id % 3 = 1 THEN 'ë¶€ì‚°'
        ELSE 'ëŒ€ì „'
    END AS city
FROM bronze.customers;
""")

# customer_id = 1ì˜ ì›ëž˜ ì£¼ì†Œ í™•ì¸
print("=== ë³€ê²½ ì „ ===")
display(conn.execute("""
SELECT customer_id, first_name, city
FROM dim_customers WHERE customer_id = 1
""").fetchdf())

In [ ]:
# ì£¼ë¬¸ê³¼ ì¡°ì¸ â€” ë³€ê²½ ì „
print("=== ì£¼ë¬¸ + ê³ ê° ì£¼ì†Œ (ë³€ê²½ ì „) ===")
display(conn.execute("""
SELECT o.id AS order_id, o.order_date, c.city
FROM bronze.orders o
JOIN dim_customers c ON o.user_id = c.customer_id
WHERE o.user_id = 1
ORDER BY o.order_date
""").fetchdf())

In [ ]:
# Type 1: ë®ì–´ì“°ê¸°
conn.execute("""
UPDATE dim_customers
SET city = 'ì œì£¼'
WHERE customer_id = 1;
""")

# ì£¼ë¬¸ê³¼ ì¡°ì¸ â€” ë³€ê²½ í›„
print("=== ì£¼ë¬¸ + ê³ ê° ì£¼ì†Œ (ë³€ê²½ í›„) ===")
display(conn.execute("""
SELECT o.id AS order_id, o.order_date, c.city
FROM bronze.orders o
JOIN dim_customers c ON o.user_id = c.customer_id
WHERE o.user_id = 1
ORDER BY o.order_date
""").fetchdf())

print("\nëª¨ë“  ê³¼ê±° ì£¼ë¬¸ì˜ cityê°€ 'ì œì£¼'ë¡œ ë°”ë€Œì—ˆë‹¤. ì‹¤ì œë¡œëŠ” 'ë¶€ì‚°'ì—ì„œ ì£¼ë¬¸í•œ ê±´ë°.")

## SCD Type 2 â€” SQLë¡œ ì§ì ‘ êµ¬í˜„

`valid_from`, `valid_to`, `is_current` ì»¬ëŸ¼ì„ ì¶”ê°€í•´ì„œ ì´ë ¥ì„ ê´€ë¦¬í•œë‹¤.

In [ ]:
# Type 2 ì°¨ì› í…Œì´ë¸” ìƒì„±
conn.execute("""
CREATE OR REPLACE TABLE dim_customers_scd2 (
    dim_customers_sk INTEGER,
    customer_id INTEGER,
    first_name VARCHAR,
    last_name VARCHAR,
    city VARCHAR,
    valid_from DATE,
    valid_to DATE,
    is_current BOOLEAN
);
""")

# ì´ˆê¸° ë°ì´í„° ì ìž¬ â€” ëª¨ë“  í–‰ì´ í˜„ìž¬ ìœ íš¨
conn.execute("""
INSERT INTO dim_customers_scd2
SELECT
    row_number() OVER () AS dim_customers_sk,
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ì„œìš¸'
        WHEN id % 3 = 1 THEN 'ë¶€ì‚°'
        ELSE 'ëŒ€ì „'
    END AS city,
    DATE '2025-01-01' AS valid_from,
    DATE '9999-12-31' AS valid_to,
    true AS is_current
FROM bronze.customers;
""")

print("=== ì´ˆê¸° ìƒíƒœ (customer_id = 1) ===")
display(conn.execute("""
SELECT * FROM dim_customers_scd2 WHERE customer_id = 1
""").fetchdf())

In [ ]:
# customer_id = 1ì´ ë¶€ì‚°ì—ì„œ ì œì£¼ë¡œ ì´ì‚¬
max_sk = conn.execute("SELECT MAX(dim_customers_sk) FROM dim_customers_scd2").fetchone()[0]

# 1ë‹¨ê³„: ê¸°ì¡´ í–‰ì„ ë‹«ëŠ”ë‹¤
conn.execute("""
UPDATE dim_customers_scd2
SET valid_to = DATE '2026-02-15',
    is_current = false
WHERE customer_id = 1
  AND is_current = true;
""")

# 2ë‹¨ê³„: ìƒˆ í–‰ì„ ì¶”ê°€í•œë‹¤
conn.execute(f"""
INSERT INTO dim_customers_scd2
VALUES ({max_sk + 1}, 1, 'Michael', 'P.', 'ì œì£¼',
        DATE '2026-02-15', DATE '9999-12-31', true);
""")

print("=== Type 2 ì ìš© í›„ (customer_id = 1) ===")
display(conn.execute("""
SELECT * FROM dim_customers_scd2
WHERE customer_id = 1
ORDER BY valid_from
""").fetchdf())

In [ ]:
# ì‹œì  ì¡°íšŒ: ì£¼ë¬¸ ì‹œì ì˜ ê³ ê° ì£¼ì†Œë¡œ ì¡°ì¸
print("=== ì£¼ë¬¸ ì‹œì ì˜ ì‹¤ì œ ì£¼ì†Œë¡œ ì¡°ì¸ ===")
display(conn.execute("""
SELECT
    o.id AS order_id,
    o.order_date,
    c.city AS city_at_order_time,
    c.valid_from,
    c.valid_to
FROM bronze.orders o
JOIN dim_customers_scd2 c
  ON o.user_id = c.customer_id
 AND CAST(o.order_date AS DATE) >= c.valid_from
 AND CAST(o.order_date AS DATE) < c.valid_to
WHERE o.user_id = 1
ORDER BY o.order_date
""").fetchdf())

print("\nê³¼ê±° ì£¼ë¬¸ì€ 'ë¶€ì‚°', ìµœê·¼ ì£¼ë¬¸ì€ 'ì œì£¼'. ì‹œì ë³„ ì‹¤ì œ ê°’ì´ ë³´ì¡´ëœë‹¤.")

## SCD Type 3 â€” ì´ì „ ê°’ì„ ì»¬ëŸ¼ìœ¼ë¡œ ë‚¨ê¸´ë‹¤

ì´ë ¥ ê¹Šì´ê°€ 1ë‹¨ê³„ë©´ ì¶©ë¶„í•  ë•Œ. ë³„ë„ ì»¬ëŸ¼ì— ì§ì „ ê°’ì„ ì €ìž¥í•œë‹¤.

In [ ]:
# Type 3 ì°¨ì› í…Œì´ë¸”
conn.execute("""
CREATE OR REPLACE TABLE dim_customers_scd3 AS
SELECT
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ì„œìš¸'
        WHEN id % 3 = 1 THEN 'ë¶€ì‚°'
        ELSE 'ëŒ€ì „'
    END AS city,
    NULL::VARCHAR AS previous_city
FROM bronze.customers;
""")

print("=== Type 3 ë³€ê²½ ì „ ===")
display(conn.execute("SELECT * FROM dim_customers_scd3 WHERE customer_id = 1").fetchdf())

# customer_id = 1: ë¶€ì‚° â†’ ì œì£¼
conn.execute("""
UPDATE dim_customers_scd3
SET previous_city = city,
    city = 'ì œì£¼'
WHERE customer_id = 1;
""")

print("\n=== Type 3 ë³€ê²½ í›„ ===")
display(conn.execute("SELECT * FROM dim_customers_scd3 WHERE customer_id = 1").fetchdf())

print("\ní–‰ ìˆ˜ëŠ” ê·¸ëŒ€ë¡œ. ì§ì „ ê°’ë§Œ previous_cityì— ë‚¨ëŠ”ë‹¤.")

In [ ]:
conn.close()

## í•©ì„± ë°ì´í„° ì¤€ë¹„

jaffle_shop raw_customersì—ëŠ” ì£¼ì†Œ ì»¬ëŸ¼ì´ ì—†ë‹¤. dbt snapshot ì‹œì—°ì„ ìœ„í•´ í•©ì„± ë°ì´í„°ë¥¼ ë§Œë“ ë‹¤.

In [ ]:
conn = duckdb.connect('warehouse.duckdb')

# SCD ì‹œì—°ìš© ê³ ê° ë°ì´í„°: city, membership_grade, updated_at ì¶”ê°€
conn.execute("""
CREATE OR REPLACE TABLE bronze.customers_v2 AS
SELECT
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ì„œìš¸'
        WHEN id % 3 = 1 THEN 'ë¶€ì‚°'
        ELSE 'ëŒ€ì „'
    END AS city,
    CASE
        WHEN id % 4 = 0 THEN 'Gold'
        WHEN id % 4 = 1 THEN 'Silver'
        WHEN id % 4 = 2 THEN 'Bronze'
        ELSE 'Standard'
    END AS membership_grade,
    TIMESTAMP '2025-01-15 09:00:00' AS updated_at
FROM read_csv_auto(
    'https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_customers.csv'
);
""")

print("=== bronze.customers_v2 ===")
display(conn.execute("SELECT * FROM bronze.customers_v2 LIMIT 5").fetchdf())

In [ ]:
# ë³€ê²½ë¶„ ë°ì´í„°: ì¼ë¶€ ê³ ê°ì´ ì´ì‚¬í–ˆë‹¤
conn.execute("""
CREATE OR REPLACE TABLE bronze.customers_v2_updated AS
SELECT
    customer_id,
    first_name,
    last_name,
    CASE
        WHEN customer_id IN (1, 3, 5) THEN 'ì œì£¼'
        ELSE city
    END AS city,
    CASE
        WHEN customer_id IN (2, 4) THEN 'Gold'
        ELSE membership_grade
    END AS membership_grade,
    CASE
        WHEN customer_id IN (1, 2, 3, 4, 5) THEN TIMESTAMP '2026-02-20 14:00:00'
        ELSE updated_at
    END AS updated_at
FROM bronze.customers_v2;
""")

# ë³€ê²½ëœ ê³ ê° í™•ì¸
print("=== ë³€ê²½ëœ ê³ ê° ===")
display(conn.execute("""
SELECT a.customer_id,
       a.city AS before_city, b.city AS after_city,
       a.membership_grade AS before_grade, b.membership_grade AS after_grade
FROM bronze.customers_v2 a
JOIN bronze.customers_v2_updated b ON a.customer_id = b.customer_id
WHERE a.city != b.city OR a.membership_grade != b.membership_grade
""").fetchdf())

conn.close()

## dbt í”„ë¡œì íŠ¸ ì„¸íŒ…

In [ ]:
import os

os.makedirs('jaffle_shop/models/staging', exist_ok=True)
os.makedirs('jaffle_shop/models/marts', exist_ok=True)
os.makedirs('jaffle_shop/snapshots', exist_ok=True)
print("ë””ë ‰í† ë¦¬ ìƒì„± ì™„ë£Œ")

In [ ]:
%%writefile jaffle_shop/dbt_project.yml
name: 'jaffle_shop'
version: '1.0.0'
profile: 'jaffle_shop'

model-paths: ["models"]
snapshot-paths: ["snapshots"]

In [ ]:
%%writefile jaffle_shop/profiles.yml
jaffle_shop:
  target: dev
  outputs:
    dev:
      type: duckdb
      path: /content/warehouse.duckdb

## dbt snapshot â€” timestamp ì „ëžµ

`updated_at` ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë³€ê²½ ì—¬ë¶€ë¥¼ íŒë‹¨í•œë‹¤.

In [ ]:
%%writefile jaffle_shop/snapshots/snap_customers.sql
{% snapshot snap_customers %}

{{
    config(
        target_schema='snapshots',
        unique_key='customer_id',
        strategy='timestamp',
        updated_at='updated_at'
    )
}}

select * from bronze.customers_v2

{% endsnapshot %}

In [ ]:
# ì²« ë²ˆì§¸ snapshot ì‹¤í–‰
!cd jaffle_shop && dbt snapshot

In [ ]:
conn = duckdb.connect('warehouse.duckdb')

# ì²« ì‹¤í–‰ ê²°ê³¼ í™•ì¸ â€” ëª¨ë“  í–‰ì´ í˜„ìž¬ ìœ íš¨ (dbt_valid_to = NULL)
print("=== snapshot ì²« ì‹¤í–‰ ê²°ê³¼ ===")
display(conn.execute("""
SELECT customer_id, city, membership_grade,
       dbt_valid_from, dbt_valid_to
FROM snapshots.snap_customers
ORDER BY customer_id
LIMIT 5
""").fetchdf())

print("\ndbt_valid_toê°€ ì „ë¶€ NULL â†’ í˜„ìž¬ ìœ íš¨í•œ í–‰")

## ë³€ê²½ ë°ì´í„° íˆ¬ìž… í›„ ìž¬ì‹¤í–‰

In [ ]:
# ì†ŒìŠ¤ í…Œì´ë¸”ì„ ë³€ê²½ë¶„ìœ¼ë¡œ êµì²´
conn.execute("""
CREATE OR REPLACE TABLE bronze.customers_v2 AS
SELECT * FROM bronze.customers_v2_updated;
""")

print("ì†ŒìŠ¤ ë°ì´í„° ë³€ê²½ ì™„ë£Œ")
conn.close()

In [ ]:
# ë‘ ë²ˆì§¸ snapshot ì‹¤í–‰ â€” ë³€ê²½ ê°ì§€
!cd jaffle_shop && dbt snapshot

In [ ]:
conn = duckdb.connect('warehouse.duckdb')

# ì´ë ¥ì´ ìƒì„±ëœ ê³ ê° í™•ì¸
print("=== customer_id = 1, 3 ì´ë ¥ í™•ì¸ ===")
display(conn.execute("""
SELECT customer_id, city, membership_grade,
       dbt_valid_from, dbt_valid_to
FROM snapshots.snap_customers
WHERE customer_id IN (1, 3)
ORDER BY customer_id, dbt_valid_from
""").fetchdf())

print("\ní•œ customer_idì— í–‰ì´ ë‘ ê°œ. ê¸°ì¡´ í–‰ì˜ dbt_valid_toê°€ ì±„ì›Œì¡Œë‹¤.")

In [ ]:
# ë³€ê²½ë˜ì§€ ì•Šì€ ê³ ê°ì€ ì—¬ì „ížˆ í•œ í–‰
print("=== ë³€ê²½ë˜ì§€ ì•Šì€ ê³ ê° (customer_id = 6) ===")
display(conn.execute("""
SELECT customer_id, city, membership_grade,
       dbt_valid_from, dbt_valid_to
FROM snapshots.snap_customers
WHERE customer_id = 6
""").fetchdf())

## check ì „ëžµ

`updated_at`ì´ ì—†ëŠ” ì†ŒìŠ¤ì—ëŠ” `check` ì „ëžµì„ ì“´ë‹¤. ì§€ì •í•œ ì»¬ëŸ¼ì˜ ê°’ì´ ë°”ë€Œì—ˆëŠ”ì§€ ì§ì ‘ ë¹„êµí•œë‹¤.

In [ ]:
%%writefile jaffle_shop/snapshots/snap_customers_check.sql
{% snapshot snap_customers_check %}

{{
    config(
        target_schema='snapshots',
        unique_key='customer_id',
        strategy='check',
        check_cols=['city', 'membership_grade']
    )
}}

select
    customer_id,
    first_name,
    last_name,
    city,
    membership_grade
from bronze.customers_v2

{% endsnapshot %}

## snapshotì„ Silver ëª¨ë¸ì—ì„œ ì°¸ì¡°í•œë‹¤

dbtì˜ `ref()`ë¡œ snapshot ê²°ê³¼ë¥¼ Silver ëª¨ë¸ì—ì„œ ì°¸ì¡°í•œë‹¤. `dbt_valid_from`/`dbt_valid_to`ë¥¼ ë¶„ì„ì— ì“°ê¸° íŽ¸í•œ í˜•íƒœë¡œ ì •ë¦¬í•œë‹¤.

In [ ]:
%%writefile jaffle_shop/models/staging/stg_customers_hist.sql
with source as (
    select * from {{ ref('snap_customers') }}
),

cleaned as (
    select
        customer_id,
        first_name,
        last_name,
        city,
        membership_grade,
        dbt_valid_from AS valid_from,
        coalesce(dbt_valid_to, '9999-12-31'::timestamp) AS valid_to,
        dbt_valid_to IS NULL AS is_current
    from source
)

select * from cleaned

In [ ]:
# ê¸°ì¡´ Silver ëª¨ë¸ë„ í•¨ê»˜ ìž‘ì„±
%%writefile jaffle_shop/models/staging/stg_orders.sql
with source as (
    select * from bronze.orders
),

cleaned as (
    select
        id as order_id,
        user_id as customer_id,
        cast(order_date as date) as order_date,
        status
    from source
)

select * from cleaned

In [ ]:
# Silver ëª¨ë¸ ì‹¤í–‰
!cd jaffle_shop && dbt run --select staging

In [ ]:
# Silver ì´ë ¥ ëª¨ë¸ í™•ì¸
print("=== stg_customers_hist (customer_id = 1) ===")
display(conn.execute("""
SELECT * FROM stg_customers_hist
WHERE customer_id = 1
ORDER BY valid_from
""").fetchdf())

## Goldì—ì„œ ì‹œì  ì¡°ì¸

ì£¼ë¬¸ ì‹œì ì˜ ê³ ê° ì •ë³´ë¡œ ì¡°ì¸í•œë‹¤. ì´ê²ƒì´ SCD Type 2ì˜ í•µì‹¬ í™œìš©ì´ë‹¤.

In [ ]:
# Gold: ì£¼ë¬¸ ì‹œì ì˜ ê³ ê° ì •ë³´ë¡œ ì¡°ì¸
print("=== ì£¼ë¬¸ ì‹œì  ê¸°ì¤€ ê³ ê° ì¡°ì¸ ===")
display(conn.execute("""
SELECT
    o.order_id,
    o.order_date,
    o.customer_id,
    c.city AS city_at_order,
    c.membership_grade AS grade_at_order,
    c.is_current
FROM stg_orders o
JOIN stg_customers_hist c
  ON o.customer_id = c.customer_id
 AND o.order_date >= c.valid_from
 AND o.order_date < c.valid_to
WHERE o.customer_id IN (1, 2, 3)
ORDER BY o.customer_id, o.order_date
""").fetchdf())

print("\nê° ì£¼ë¬¸ ì‹œì ì˜ ì‹¤ì œ ê°’ìœ¼ë¡œ ì¡°ì¸ëœë‹¤.")

## ì •ë¦¬

| íŒ¨í„´ | ì ìš© ëŒ€ìƒ | êµ¬í˜„ ë°©ë²• |
|------|-----------|----------|
| Type 1 (ë®ì–´ì“°ê¸°) | ì˜¤íƒ€, ì½”ë“œ ì„¤ëª…, ì „í™”ë²ˆí˜¸ | ë‹¨ìˆœ UPDATE |
| Type 2 (ì´ë ¥ ì¶”ê°€) | ì£¼ì†Œ, ë“±ê¸‰, ì†Œì† ë¶€ì„œ | dbt snapshot (timestamp / check) |
| Type 3 (ì´ì „ ê°’ ë³´ì¡´) | ì¡°ì§ ê°œíŽ¸ ì „í›„ ë¹„êµ | previous_ ì»¬ëŸ¼ ì¶”ê°€ |
| í˜¼í•© | í•˜ë‚˜ì˜ í…Œì´ë¸” ë‚´ ì»¬ëŸ¼ë³„ êµ¬ë¶„ | Type 1 + Type 2 ë³‘í–‰ |

In [ ]:
# ì •ë¦¬
conn.close()