# ETL ÏÑ§Í≥Ñ 4Ìé∏: SCD - Í≥†Í∞ù Ï£ºÏÜåÍ∞Ä Î∞îÎÄåÎ©¥ Í≥ºÍ±∞ Ï£ºÎ¨∏ÏùÄ Ïñ¥ÎîîÎ°ú Î∞∞ÏÜ°Îêú Í±∏Î°ú ÎÇ®ÎäîÍ∞Ä

Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞Í∞Ä Î∞îÎÄåÎ©¥ Í≥ºÍ±∞Î•º ÎçÆÏñ¥Ïì∏ Í≤ÉÏù∏Í∞Ä, Ïù¥Î†•ÏùÑ ÎÇ®Í∏∏ Í≤ÉÏù∏Í∞Ä. SCD Type 1, 2, 3Ïùò Ï∞®Ïù¥Î•º SQLÎ°ú ÏßÅÏ†ë Íµ¨ÌòÑÌïòÍ≥†, dbt snapshotÏúºÎ°ú ÌîÑÎ°úÎçïÏÖò Ìå®ÌÑ¥ÏùÑ ÎßåÎì†Îã§.

üìñ [Î∏îÎ°úÍ∑∏ ÏõêÎ¨∏](https://biz-agentic-ai.github.io/guides/etl-design/004-scd/)

## ÌôòÍ≤Ω ÏÑ∏ÌåÖ

In [1]:
# ÎèÑÍµ¨ ÏÑ§Ïπò (protobuf Í≤ΩÍ≥†Îäî Î¨¥ÏãúÌï¥ÎèÑ Îê©ÎãàÎã§ - ColabÏùò tensorflowÏôÄ Î≤ÑÏ†Ñ Ï∂©ÎèåÏù¥ÏßÄÎßå Ïã§ÏäµÏóê ÏòÅÌñ• ÏóÜÏùå)
!pip install -q duckdb dbt-core dbt-duckdb 2>&1 | grep -v "protobuf"

     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 114.4/114.4 kB 5.1 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.0/1.0 MB 31.7 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 85.1/85.1 kB 7.9 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 95.1/95.1 kB 8.3 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 144.9/144.9 kB 12.6 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 173.0/173.0 kB 14.8 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 87.7/87.7 kB 8.1 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 442.7/442.7 kB 32.3 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 178.5/178.5 kB 16.5 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 147.0/147.0 kB 14.2 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 92.2/92.2 kB 7.9 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 323.5/323.5 kB 21.0 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 44.1/44.1 kB 3.1 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 45.9/45.9 kB 3.7 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 91.4/91.4 kB 8.8 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 42.5/42.5 kB 3.6 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.

## Bronze Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ

1Ìé∏ÏóêÏÑú ÎßåÎì† Bronze Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïãú Ï†ÅÏû¨ÌïúÎã§.

In [2]:
import duckdb

conn = duckdb.connect('warehouse.duckdb')

conn.execute("""
CREATE SCHEMA IF NOT EXISTS bronze;

CREATE OR REPLACE TABLE bronze.orders AS
SELECT *, current_timestamp AS _loaded_at
FROM read_csv_auto('https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_orders.csv');

CREATE OR REPLACE TABLE bronze.customers AS
SELECT *, current_timestamp AS _loaded_at
FROM read_csv_auto('https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_customers.csv');

CREATE OR REPLACE TABLE bronze.payments AS
SELECT *, current_timestamp AS _loaded_at
FROM read_csv_auto('https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_payments.csv');
""")

print("Bronze Ï†ÅÏû¨ ÏôÑÎ£å")
conn.close()

Bronze Ï†ÅÏû¨ ÏôÑÎ£å

## Î¨∏Ï†ú ÌôïÏù∏: Ï∞®ÏõêÏù¥ Î∞îÎÄåÎ©¥ Í≥ºÍ±∞Í∞Ä ÏôúÍ≥°ÎêúÎã§

Í≥†Í∞ù ÌÖåÏù¥Î∏îÏóêÏÑú Ï£ºÏÜåÎ•º UPDATEÌïú Îí§, Í≥ºÍ±∞ Ï£ºÎ¨∏ÏùÑ Ï°∞ÌöåÌï¥ Î≥∏Îã§.

In [3]:
conn = duckdb.connect('warehouse.duckdb')

# Ï∞®Ïõê ÌÖåÏù¥Î∏î ÏÉùÏÑ± (Ï£ºÏÜå Ìè¨Ìï®)
conn.execute("""
CREATE OR REPLACE TABLE dim_customers AS
SELECT
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ÏÑúÏö∏'
        WHEN id % 3 = 1 THEN 'Î∂ÄÏÇ∞'
        ELSE 'ÎåÄÏ†Ñ'
    END AS city
FROM bronze.customers;
""")

# customer_id = 1Ïùò ÏõêÎûò Ï£ºÏÜå ÌôïÏù∏
print("=== Î≥ÄÍ≤Ω Ï†Ñ ===")
display(conn.execute("""
SELECT customer_id, first_name, city
FROM dim_customers WHERE customer_id = 1
""").fetchdf())

=== Î≥ÄÍ≤Ω Ï†Ñ ===

   customer_id first_name city
0            1    Michael   Î∂ÄÏÇ∞

In [4]:
# Ï£ºÎ¨∏Í≥º Ï°∞Ïù∏ ‚Äî Î≥ÄÍ≤Ω Ï†Ñ
print("=== Ï£ºÎ¨∏ + Í≥†Í∞ù Ï£ºÏÜå (Î≥ÄÍ≤Ω Ï†Ñ) ===")
display(conn.execute("""
SELECT o.id AS order_id, o.order_date, c.city
FROM bronze.orders o
JOIN dim_customers c ON o.user_id = c.customer_id
WHERE o.user_id = 1
ORDER BY o.order_date
""").fetchdf())

=== Ï£ºÎ¨∏ + Í≥†Í∞ù Ï£ºÏÜå (Î≥ÄÍ≤Ω Ï†Ñ) ===

   order_id order_date city
0         1 2018-01-01   Î∂ÄÏÇ∞
1        37 2018-02-10   Î∂ÄÏÇ∞

In [5]:
# Type 1: ÎçÆÏñ¥Ïì∞Í∏∞
conn.execute("""
UPDATE dim_customers
SET city = 'Ï†úÏ£º'
WHERE customer_id = 1;
""")

# Ï£ºÎ¨∏Í≥º Ï°∞Ïù∏ ‚Äî Î≥ÄÍ≤Ω ÌõÑ
print("=== Ï£ºÎ¨∏ + Í≥†Í∞ù Ï£ºÏÜå (Î≥ÄÍ≤Ω ÌõÑ) ===")
display(conn.execute("""
SELECT o.id AS order_id, o.order_date, c.city
FROM bronze.orders o
JOIN dim_customers c ON o.user_id = c.customer_id
WHERE o.user_id = 1
ORDER BY o.order_date
""").fetchdf())

print("\nÎ™®Îì† Í≥ºÍ±∞ Ï£ºÎ¨∏Ïùò cityÍ∞Ä 'Ï†úÏ£º'Î°ú Î∞îÎÄåÏóàÎã§. Ïã§Ï†úÎ°úÎäî 'Î∂ÄÏÇ∞'ÏóêÏÑú Ï£ºÎ¨∏Ìïú Í±¥Îç∞.")

=== Ï£ºÎ¨∏ + Í≥†Í∞ù Ï£ºÏÜå (Î≥ÄÍ≤Ω ÌõÑ) ===

   order_id order_date city
0         1 2018-01-01   Ï†úÏ£º
1        37 2018-02-10   Ï†úÏ£º

Î™®Îì† Í≥ºÍ±∞ Ï£ºÎ¨∏Ïùò cityÍ∞Ä 'Ï†úÏ£º'Î°ú Î∞îÎÄåÏóàÎã§. Ïã§Ï†úÎ°úÎäî 'Î∂ÄÏÇ∞'ÏóêÏÑú Ï£ºÎ¨∏Ìïú Í±¥Îç∞.

## SCD Type 2 ‚Äî SQLÎ°ú ÏßÅÏ†ë Íµ¨ÌòÑ

`valid_from`, `valid_to`, `is_current` Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌï¥ÏÑú Ïù¥Î†•ÏùÑ Í¥ÄÎ¶¨ÌïúÎã§.

In [6]:
# Type 2 Ï∞®Ïõê ÌÖåÏù¥Î∏î ÏÉùÏÑ±
conn.execute("""
CREATE OR REPLACE TABLE dim_customers_scd2 (
    dim_customers_sk INTEGER,
    customer_id INTEGER,
    first_name VARCHAR,
    last_name VARCHAR,
    city VARCHAR,
    valid_from DATE,
    valid_to DATE,
    is_current BOOLEAN
);
""")

# Ï¥àÍ∏∞ Îç∞Ïù¥ÌÑ∞ Ï†ÅÏû¨ ‚Äî Î™®Îì† ÌñâÏù¥ ÌòÑÏû¨ Ïú†Ìö®
conn.execute("""
INSERT INTO dim_customers_scd2
SELECT
    row_number() OVER () AS dim_customers_sk,
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ÏÑúÏö∏'
        WHEN id % 3 = 1 THEN 'Î∂ÄÏÇ∞'
        ELSE 'ÎåÄÏ†Ñ'
    END AS city,
    DATE '2025-01-01' AS valid_from,
    DATE '9999-12-31' AS valid_to,
    true AS is_current
FROM bronze.customers;
""")

print("=== Ï¥àÍ∏∞ ÏÉÅÌÉú (customer_id = 1) ===")
display(conn.execute("""
SELECT * FROM dim_customers_scd2 WHERE customer_id = 1
""").fetchdf())

=== Ï¥àÍ∏∞ ÏÉÅÌÉú (customer_id = 1) ===

,dim_customers_sk,customer_id,first_name,last_name,city,valid_from,valid_to,is_current
0,1,1,Michael,P.,Î∂ÄÏÇ∞,2025-01-01,9999-12-31,True

In [7]:
# customer_id = 1Ïù¥ Î∂ÄÏÇ∞ÏóêÏÑú Ï†úÏ£ºÎ°ú Ïù¥ÏÇ¨
max_sk = conn.execute("SELECT MAX(dim_customers_sk) FROM dim_customers_scd2").fetchone()[0]

# 1Îã®Í≥Ñ: Í∏∞Ï°¥ ÌñâÏùÑ Îã´ÎäîÎã§
conn.execute("""
UPDATE dim_customers_scd2
SET valid_to = DATE '2026-02-15',
    is_current = false
WHERE customer_id = 1
  AND is_current = true;
""")

# 2Îã®Í≥Ñ: ÏÉà ÌñâÏùÑ Ï∂îÍ∞ÄÌïúÎã§
conn.execute(f"""
INSERT INTO dim_customers_scd2
VALUES ({max_sk + 1}, 1, 'Michael', 'P.', 'Ï†úÏ£º',
        DATE '2026-02-15', DATE '9999-12-31', true);
""")

print("=== Type 2 Ï†ÅÏö© ÌõÑ (customer_id = 1) ===")
display(conn.execute("""
SELECT * FROM dim_customers_scd2
WHERE customer_id = 1
ORDER BY valid_from
""").fetchdf())

=== Type 2 Ï†ÅÏö© ÌõÑ (customer_id = 1) ===

,dim_customers_sk,customer_id,first_name,last_name,city,valid_from,valid_to,is_current
0,1,1,Michael,P.,Î∂ÄÏÇ∞,2025-01-01,2026-02-15,False
1,101,1,Michael,P.,Ï†úÏ£º,2026-02-15,9999-12-31,True

In [8]:
# ÏãúÏ†ê Ï°∞Ìöå: Ï£ºÎ¨∏ ÏãúÏ†êÏùò Í≥†Í∞ù Ï£ºÏÜåÎ°ú Ï°∞Ïù∏
print("=== Ï£ºÎ¨∏ ÏãúÏ†êÏùò Ïã§Ï†ú Ï£ºÏÜåÎ°ú Ï°∞Ïù∏ ===")
display(conn.execute("""
SELECT
    o.id AS order_id,
    o.order_date,
    c.city AS city_at_order_time,
    c.valid_from,
    c.valid_to
FROM bronze.orders o
JOIN dim_customers_scd2 c
  ON o.user_id = c.customer_id
 AND CAST(o.order_date AS DATE) >= c.valid_from
 AND CAST(o.order_date AS DATE) < c.valid_to
WHERE o.user_id = 1
ORDER BY o.order_date
""").fetchdf())

print("\nÍ≥ºÍ±∞ Ï£ºÎ¨∏ÏùÄ 'Î∂ÄÏÇ∞', ÏµúÍ∑º Ï£ºÎ¨∏ÏùÄ 'Ï†úÏ£º'. ÏãúÏ†êÎ≥Ñ Ïã§Ï†ú Í∞íÏù¥ Î≥¥Ï°¥ÎêúÎã§.")

=== Ï£ºÎ¨∏ ÏãúÏ†êÏùò Ïã§Ï†ú Ï£ºÏÜåÎ°ú Ï°∞Ïù∏ ===

Empty DataFrame
Columns: [order_id, order_date, city_at_order_time, valid_from, valid_to]
Index: []

Í≥ºÍ±∞ Ï£ºÎ¨∏ÏùÄ 'Î∂ÄÏÇ∞', ÏµúÍ∑º Ï£ºÎ¨∏ÏùÄ 'Ï†úÏ£º'. ÏãúÏ†êÎ≥Ñ Ïã§Ï†ú Í∞íÏù¥ Î≥¥Ï°¥ÎêúÎã§.

## SCD Type 3 ‚Äî Ïù¥Ï†Ñ Í∞íÏùÑ Ïª¨ÎüºÏúºÎ°ú ÎÇ®Í∏¥Îã§

Ïù¥Î†• ÍπäÏù¥Í∞Ä 1Îã®Í≥ÑÎ©¥ Ï∂©Î∂ÑÌï† Îïå. Î≥ÑÎèÑ Ïª¨ÎüºÏóê ÏßÅÏ†Ñ Í∞íÏùÑ Ï†ÄÏû•ÌïúÎã§.

In [9]:
# Type 3 Ï∞®Ïõê ÌÖåÏù¥Î∏î
conn.execute("""
CREATE OR REPLACE TABLE dim_customers_scd3 AS
SELECT
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ÏÑúÏö∏'
        WHEN id % 3 = 1 THEN 'Î∂ÄÏÇ∞'
        ELSE 'ÎåÄÏ†Ñ'
    END AS city,
    NULL::VARCHAR AS previous_city
FROM bronze.customers;
""")

print("=== Type 3 Î≥ÄÍ≤Ω Ï†Ñ ===")
display(conn.execute("SELECT * FROM dim_customers_scd3 WHERE customer_id = 1").fetchdf())

# customer_id = 1: Î∂ÄÏÇ∞ ‚Üí Ï†úÏ£º
conn.execute("""
UPDATE dim_customers_scd3
SET previous_city = city,
    city = 'Ï†úÏ£º'
WHERE customer_id = 1;
""")

print("\n=== Type 3 Î≥ÄÍ≤Ω ÌõÑ ===")
display(conn.execute("SELECT * FROM dim_customers_scd3 WHERE customer_id = 1").fetchdf())

print("\nÌñâ ÏàòÎäî Í∑∏ÎåÄÎ°ú. ÏßÅÏ†Ñ Í∞íÎßå previous_cityÏóê ÎÇ®ÎäîÎã§.")

=== Type 3 Î≥ÄÍ≤Ω Ï†Ñ ===

   customer_id first_name last_name city previous_city
0            1    Michael        P.   Î∂ÄÏÇ∞          None

=== Type 3 Î≥ÄÍ≤Ω ÌõÑ ===

   customer_id first_name last_name city previous_city
0            1    Michael        P.   Ï†úÏ£º            Î∂ÄÏÇ∞

Ìñâ ÏàòÎäî Í∑∏ÎåÄÎ°ú. ÏßÅÏ†Ñ Í∞íÎßå previous_cityÏóê ÎÇ®ÎäîÎã§.

In [10]:
conn.close()

## Ïã§Ïäµ Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ

jaffle_shop raw_customersÏóêÎäî Ï£ºÏÜå Ïª¨ÎüºÏù¥ ÏóÜÎã§. dbt snapshot ÏãúÏó∞ÏùÑ ÏúÑÌï¥ Ìï©ÏÑ± Îç∞Ïù¥ÌÑ∞Î•º ÎßåÎì†Îã§.

In [ ]:
conn = duckdb.connect('warehouse.duckdb')

# SCD ÏãúÏó∞Ïö© Í≥†Í∞ù Îç∞Ïù¥ÌÑ∞: city, membership_grade, updated_at Ï∂îÍ∞Ä
conn.execute("""
CREATE OR REPLACE TABLE bronze.customers_v2 AS
SELECT
    id AS customer_id,
    first_name,
    last_name,
    CASE
        WHEN id % 3 = 0 THEN 'ÏÑúÏö∏'
        WHEN id % 3 = 1 THEN 'Î∂ÄÏÇ∞'
        ELSE 'ÎåÄÏ†Ñ'
    END AS city,
    CASE
        WHEN id % 4 = 0 THEN 'Gold'
        WHEN id % 4 = 1 THEN 'Silver'
        WHEN id % 4 = 2 THEN 'Bronze'
        ELSE 'Standard'
    END AS membership_grade,
    TIMESTAMP '2025-01-15 09:00:00' AS updated_at
FROM read_csv_auto(
    'https://raw.githubusercontent.com/dbt-labs/jaffle_shop/main/seeds/raw_customers.csv'
);
""")

print("=== bronze.customers_v2 ===")
display(conn.execute("SELECT * FROM bronze.customers_v2 LIMIT 5").fetchdf())

In [ ]:
# Î≥ÄÍ≤ΩÎ∂Ñ Îç∞Ïù¥ÌÑ∞: ÏùºÎ∂Ä Í≥†Í∞ùÏù¥ Ïù¥ÏÇ¨ÌñàÎã§
conn.execute("""
CREATE OR REPLACE TABLE bronze.customers_v2_updated AS
SELECT
    customer_id,
    first_name,
    last_name,
    CASE
        WHEN customer_id IN (1, 3, 5) THEN 'Ï†úÏ£º'
        ELSE city
    END AS city,
    CASE
        WHEN customer_id IN (2, 4) THEN 'Gold'
        ELSE membership_grade
    END AS membership_grade,
    CASE
        WHEN customer_id IN (1, 2, 3, 4, 5) THEN TIMESTAMP '2026-02-20 14:00:00'
        ELSE updated_at
    END AS updated_at
FROM bronze.customers_v2;
""")

# Î≥ÄÍ≤ΩÎêú Í≥†Í∞ù ÌôïÏù∏
print("=== Î≥ÄÍ≤ΩÎêú Í≥†Í∞ù ===")
display(conn.execute("""
SELECT a.customer_id,
       a.city AS before_city, b.city AS after_city,
       a.membership_grade AS before_grade, b.membership_grade AS after_grade
FROM bronze.customers_v2 a
JOIN bronze.customers_v2_updated b ON a.customer_id = b.customer_id
WHERE a.city != b.city OR a.membership_grade != b.membership_grade
""").fetchdf())

conn.close()

## dbt ÌîÑÎ°úÏ†ùÌä∏ ÏÑ∏ÌåÖ

In [ ]:
import os

os.makedirs('jaffle_shop/models/staging', exist_ok=True)
os.makedirs('jaffle_shop/models/marts', exist_ok=True)
os.makedirs('jaffle_shop/snapshots', exist_ok=True)
print("ÎîîÎ†âÌÜ†Î¶¨ ÏÉùÏÑ± ÏôÑÎ£å")

In [ ]:
%%writefile jaffle_shop/dbt_project.yml
name: 'jaffle_shop'
version: '1.0.0'
profile: 'jaffle_shop'

model-paths: ["models"]
snapshot-paths: ["snapshots"]

In [ ]:
%%writefile jaffle_shop/profiles.yml
jaffle_shop:
  target: dev
  outputs:
    dev:
      type: duckdb
      path: /content/warehouse.duckdb

## dbt snapshot ‚Äî timestamp Ï†ÑÎûµ

`updated_at` Ïª¨ÎüºÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î≥ÄÍ≤Ω Ïó¨Î∂ÄÎ•º ÌåêÎã®ÌïúÎã§.

In [ ]:
%%writefile jaffle_shop/snapshots/snap_customers.sql
{% snapshot snap_customers %}

{{
    config(
        target_schema='snapshots',
        unique_key='customer_id',
        strategy='timestamp',
        updated_at='updated_at'
    )
}}

select * from bronze.customers_v2

{% endsnapshot %}

In [ ]:
# Ï≤´ Î≤àÏß∏ snapshot Ïã§Ìñâ
!cd jaffle_shop && dbt snapshot

In [ ]:
conn = duckdb.connect('warehouse.duckdb')

# Ï≤´ Ïã§Ìñâ Í≤∞Í≥º ÌôïÏù∏ ‚Äî Î™®Îì† ÌñâÏù¥ ÌòÑÏû¨ Ïú†Ìö® (dbt_valid_to = NULL)
print("=== snapshot Ï≤´ Ïã§Ìñâ Í≤∞Í≥º ===")
display(conn.execute("""
SELECT customer_id, city, membership_grade,
       dbt_valid_from, dbt_valid_to
FROM snapshots.snap_customers
ORDER BY customer_id
LIMIT 5
""").fetchdf())

print("\ndbt_valid_toÍ∞Ä Ï†ÑÎ∂Ä NULL ‚Üí ÌòÑÏû¨ Ïú†Ìö®Ìïú Ìñâ")

## Î≥ÄÍ≤Ω Îç∞Ïù¥ÌÑ∞ Ìà¨ÏûÖ ÌõÑ Ïû¨Ïã§Ìñâ

In [ ]:
# ÏÜåÏä§ ÌÖåÏù¥Î∏îÏùÑ Î≥ÄÍ≤ΩÎ∂ÑÏúºÎ°ú ÍµêÏ≤¥
conn.execute("""
CREATE OR REPLACE TABLE bronze.customers_v2 AS
SELECT * FROM bronze.customers_v2_updated;
""")

print("ÏÜåÏä§ Îç∞Ïù¥ÌÑ∞ Î≥ÄÍ≤Ω ÏôÑÎ£å")
conn.close()

In [ ]:
# Îëê Î≤àÏß∏ snapshot Ïã§Ìñâ ‚Äî Î≥ÄÍ≤Ω Í∞êÏßÄ
!cd jaffle_shop && dbt snapshot

In [ ]:
conn = duckdb.connect('warehouse.duckdb')

# Ïù¥Î†•Ïù¥ ÏÉùÏÑ±Îêú Í≥†Í∞ù ÌôïÏù∏
print("=== customer_id = 1, 3 Ïù¥Î†• ÌôïÏù∏ ===")
display(conn.execute("""
SELECT customer_id, city, membership_grade,
       dbt_valid_from, dbt_valid_to
FROM snapshots.snap_customers
WHERE customer_id IN (1, 3)
ORDER BY customer_id, dbt_valid_from
""").fetchdf())

print("\nÌïú customer_idÏóê ÌñâÏù¥ Îëê Í∞ú. Í∏∞Ï°¥ ÌñâÏùò dbt_valid_toÍ∞Ä Ï±ÑÏõåÏ°åÎã§.")

In [ ]:
# Î≥ÄÍ≤ΩÎêòÏßÄ ÏïäÏùÄ Í≥†Í∞ùÏùÄ Ïó¨Ï†ÑÌûà Ìïú Ìñâ
print("=== Î≥ÄÍ≤ΩÎêòÏßÄ ÏïäÏùÄ Í≥†Í∞ù (customer_id = 6) ===")
display(conn.execute("""
SELECT customer_id, city, membership_grade,
       dbt_valid_from, dbt_valid_to
FROM snapshots.snap_customers
WHERE customer_id = 6
""").fetchdf())

## check Ï†ÑÎûµ

`updated_at`Ïù¥ ÏóÜÎäî ÏÜåÏä§ÏóêÎäî `check` Ï†ÑÎûµÏùÑ Ïì¥Îã§. ÏßÄÏ†ïÌïú Ïª¨ÎüºÏùò Í∞íÏù¥ Î∞îÎÄåÏóàÎäîÏßÄ ÏßÅÏ†ë ÎπÑÍµêÌïúÎã§.

In [ ]:
%%writefile jaffle_shop/snapshots/snap_customers_check.sql
{% snapshot snap_customers_check %}

{{
    config(
        target_schema='snapshots',
        unique_key='customer_id',
        strategy='check',
        check_cols=['city', 'membership_grade']
    )
}}

select
    customer_id,
    first_name,
    last_name,
    city,
    membership_grade
from bronze.customers_v2

{% endsnapshot %}

## snapshotÏùÑ Silver Î™®Îç∏ÏóêÏÑú Ï∞∏Ï°∞ÌïúÎã§

dbtÏùò `ref()`Î°ú snapshot Í≤∞Í≥ºÎ•º Silver Î™®Îç∏ÏóêÏÑú Ï∞∏Ï°∞ÌïúÎã§. `dbt_valid_from`/`dbt_valid_to`Î•º Î∂ÑÏÑùÏóê Ïì∞Í∏∞ Ìé∏Ìïú ÌòïÌÉúÎ°ú Ï†ïÎ¶¨ÌïúÎã§.

In [ ]:
%%writefile jaffle_shop/models/staging/stg_customers_hist.sql
with source as (
    select * from {{ ref('snap_customers') }}
),

cleaned as (
    select
        customer_id,
        first_name,
        last_name,
        city,
        membership_grade,
        dbt_valid_from AS valid_from,
        coalesce(dbt_valid_to, '9999-12-31'::timestamp) AS valid_to,
        dbt_valid_to IS NULL AS is_current
    from source
)

select * from cleaned

In [ ]:
# Í∏∞Ï°¥ Silver Î™®Îç∏ÎèÑ Ìï®Íªò ÏûëÏÑ±
%%writefile jaffle_shop/models/staging/stg_orders.sql
with source as (
    select * from bronze.orders
),

cleaned as (
    select
        id as order_id,
        user_id as customer_id,
        cast(order_date as date) as order_date,
        status
    from source
)

select * from cleaned

In [ ]:
# Silver Î™®Îç∏ Ïã§Ìñâ
!cd jaffle_shop && dbt run --select staging

In [ ]:
# Silver Ïù¥Î†• Î™®Îç∏ ÌôïÏù∏
print("=== stg_customers_hist (customer_id = 1) ===")
display(conn.execute("""
SELECT * FROM stg_customers_hist
WHERE customer_id = 1
ORDER BY valid_from
""").fetchdf())

## GoldÏóêÏÑú ÏãúÏ†ê Ï°∞Ïù∏

Ï£ºÎ¨∏ ÏãúÏ†êÏùò Í≥†Í∞ù Ï†ïÎ≥¥Î°ú Ï°∞Ïù∏ÌïúÎã§. Ïù¥Í≤ÉÏù¥ SCD Type 2Ïùò ÌïµÏã¨ ÌôúÏö©Ïù¥Îã§.

In [ ]:
# Gold: Ï£ºÎ¨∏ ÏãúÏ†êÏùò Í≥†Í∞ù Ï†ïÎ≥¥Î°ú Ï°∞Ïù∏
print("=== Ï£ºÎ¨∏ ÏãúÏ†ê Í∏∞Ï§Ä Í≥†Í∞ù Ï°∞Ïù∏ ===")
display(conn.execute("""
SELECT
    o.order_id,
    o.order_date,
    o.customer_id,
    c.city AS city_at_order,
    c.membership_grade AS grade_at_order,
    c.is_current
FROM stg_orders o
JOIN stg_customers_hist c
  ON o.customer_id = c.customer_id
 AND o.order_date >= c.valid_from
 AND o.order_date < c.valid_to
WHERE o.customer_id IN (1, 2, 3)
ORDER BY o.customer_id, o.order_date
""").fetchdf())

print("\nÍ∞Å Ï£ºÎ¨∏ ÏãúÏ†êÏùò Ïã§Ï†ú Í∞íÏúºÎ°ú Ï°∞Ïù∏ÎêúÎã§.")

## Ï†ïÎ¶¨

| Ìå®ÌÑ¥ | Ï†ÅÏö© ÎåÄÏÉÅ | Íµ¨ÌòÑ Î∞©Î≤ï |
|------|-----------|----------|
| Type 1 (ÎçÆÏñ¥Ïì∞Í∏∞) | Ïò§ÌÉÄ, ÏΩîÎìú ÏÑ§Î™Ö, Ï†ÑÌôîÎ≤àÌò∏ | Îã®Ïàú UPDATE |
| Type 2 (Ïù¥Î†• Ï∂îÍ∞Ä) | Ï£ºÏÜå, Îì±Í∏â, ÏÜåÏÜç Î∂ÄÏÑú | dbt snapshot (timestamp / check) |
| Type 3 (Ïù¥Ï†Ñ Í∞í Î≥¥Ï°¥) | Ï°∞ÏßÅ Í∞úÌé∏ Ï†ÑÌõÑ ÎπÑÍµê | previous_ Ïª¨Îüº Ï∂îÍ∞Ä |
| ÌòºÌï© | ÌïòÎÇòÏùò ÌÖåÏù¥Î∏î ÎÇ¥ Ïª¨ÎüºÎ≥Ñ Íµ¨Î∂Ñ | Type 1 + Type 2 Î≥ëÌñâ |

In [ ]:
# Ï†ïÎ¶¨
conn.close()